<header>
    <!-- lefside nav -->
    <ul id="nav-mobile" class="side-nav fixed">
        <span class="logo">
          <a href="#" class="brand-logo">
            <!-- <img src="" alt=""> -->
          </a>
        </span>

        <div class="divider"></div>

        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">

                <li class="bold active"><a href="/dashboard" class="waves-effect waves-teal">Dashboard</a></li>

                <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Company</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="#">Users List</a></li>
                            <li><a href="#">Invite User</a></li>
                            <li><a href="#">Company Info</a></li>
                            <li><a href="#">Edit Company Info</a></li>
                            <li><a href="#">All Docs</a></li>
                        </ul>
                    </div>
                </li>

            </ul>
        </li>
        <li class="bold"><a href="#" class="waves-effect waves-teal">Link</a></li>
    </ul>

</header>
